spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mes?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: asdf1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    active: default

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
    show-sql: false

logging:
  level:
    root: INFO
    com.mes.messystem: INFO
    org.springframework.web: WARN
    org.hibernate: WARN
    org.hibernate.SQL: WARN
